In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Admin\Desktop\New folder\eth-rainfall-subnat-full.csv")
df.head()

,date,adm_level,adm_id,PCODE,n_pixels,rfh,rfh_avg,r1h,r1h_avg,r3h,r3h_avg,rfq,r1q,r3q,version
0,1981-01-01,1,900532,ET14,20.0,1.4,3.641667,NaN,NaN,NaN,NaN,74.059790,NaN,NaN,final
1,1981-01-11,1,900532,ET14,20.0,1.2,4.305000,NaN,NaN,NaN,NaN,66.630844,NaN,NaN,final
2,1981-01-21,1,900532,ET14,20.0,1.3,5.723333,3.9,13.670000,NaN,NaN,58.750390,47.67006,NaN,final
3,1981-02-01,1,900532,ET14,20.0,2.1,11.851666,4.6,21.880000,NaN,NaN,42.132330,35.71429,NaN,final
4,1981-02-11,1,900532,ET14,20.0,26.5,11.213333,29.9,28.788334,NaN,NaN,194.284550,103.29009,NaN,final

In [2]:
df.tail()

,date,adm_level,adm_id,PCODE,n_pixels,rfh,rfh_avg,r1h,r1h_avg,r3h,r3h_avg,rfq,r1q,r3q,version
147779,2025-12-21,2,1007537,ET0706,147.0,39.469387,9.378458,68.823130,27.174830,196.496610,188.765530,309.277860,229.44374,103.989914,final
147780,2026-01-01,2,1007537,ET0706,147.0,8.408163,8.635147,72.238100,24.898867,157.891140,157.553280,98.335304,258.33118,100.207840,prelim
147781,2026-01-11,2,1007537,ET0706,147.0,4.761905,11.782766,52.639454,29.795012,108.462580,130.167340,58.166240,165.65434,83.942300,prelim
147782,2026-01-21,2,1007537,ET0706,147.0,9.809524,11.588208,22.979591,32.006123,105.809520,102.638320,89.277420,75.60800,102.946160,prelim
147783,2026-02-01,2,1007537,ET0706,147.0,11.136054,13.274376,25.707481,36.645350,111.136055,96.799095,88.298805,73.73568,114.083590,forecast

In [3]:
df.isnull().sum()

date           0
adm_level      0
adm_id         0
PCODE          0
n_pixels       0
rfh            0
rfh_avg        0
r1h          182
r1h_avg      182
r3h          728
r3h_avg      728
rfq            0
r1q          182
r3q          728
version        0
dtype: int64

In [4]:
cols_with_nan = ['r1h', 'r1h_avg', 'r1q',
                 'r3h', 'r3h_avg', 'r3q']

df[cols_with_nan] = df[cols_with_nan].fillna(0)

In [5]:
df.isnull().sum()

date         0
adm_level    0
adm_id       0
PCODE        0
n_pixels     0
rfh          0
rfh_avg      0
r1h          0
r1h_avg      0
r3h          0
r3h_avg      0
rfq          0
r1q          0
r3q          0
version      0
dtype: int64

In [12]:
df.duplicated().sum()

0

In [13]:
num_cols = [
    'adm_level','adm_id','n_pixels',
    'rfh','rfh_avg','r1h','r1h_avg',
    'r3h','r3h_avg','rfq','r1q','r3q'
]

df[num_cols] = df[num_cols].apply(pd.to_numeric, errors='coerce')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147784 entries, 0 to 147783
Data columns (total 21 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       147784 non-null  datetime64[ns]
 1   adm_level  147784 non-null  int64
 2   adm_id     147784 non-null  int64
 3   PCODE      147784 non-null  object
 4   n_pixels   147784 non-null  float64
 5   rfh        147784 non-null  float64
 6   rfh_avg    147784 non-null  float64
 7   r1h        147784 non-null  float64
 8   r1h_avg    147784 non-null  float64
 9   r3h        147784 non-null  float64
 10  r3h_avg    147784 non-null  float64
 11  rfq        147784 non-null  float64
 12  r1q        147784 non-null  float64
 13  r3q        147784 non-null  float64
 14  version    147784 non-null  object
 15  year       147784 non-null  int32
 16  month      147784 non-null  int32
 17  day        147784 non-null  int32
 18  rfq_lag1   147784 non-null  float64
 19  rfq_lag7   147784 non-null  float64
 20  rfq_lag30  147784 non-null  float64
dtypes: datetime64[ns](1), float64(13), int32(3), int64(2), object(2)
memory usage: 23.1+ MB

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, shuffle=False
)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(
    n_estimators=300,
    max_depth=20,
    random_state=42,
    n_jobs=-1
)

model.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import numpy as np

y_pred = model.predict(X_test)

print("RÂ²:", r2_score(y_test, y_pred))
print("MAE:", mean_absolute_error(y_test, y_pred))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred)))